<div class="article-breadcrumb page-width page-width--narrow">
  <div class="article-breadcrumb-container">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">Home</span>
        </a>
          &gt;&nbsp;
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/blogs/blog">
          <span itemprop="name">Blog</span>
        </a>
          &gt;&nbsp;
        <meta itemprop="position" content="2" />
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <span itemprop="name">{{ article.title }}</span>
        <meta itemprop="position" content="3" />
      </li>
    </ol>
  </div>
</div>