<?xml version="1.0" encoding="UTF-8"?>
<svg class="icon" width="14px" height="25px" viewBox="0 0 14 25" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 43.1 (39012) - http://www.bohemiancoding.com/sketch -->
    <title>icon/Facebook</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Product-Package" transform="translate(-794.000000, -965.000000)" fill="#000">
            <g id="Group-13" transform="translate(783.000000, 960.000000)">
                <g id="icon/Facebook">
                    <path d="M22.5258306,5.83818822 L20.7809959,5.83333333 C17.3816014,5.83333333 15.1847633,8.08721638 15.1847633,11.5756982 L15.1847633,14.2233128 L12.142446,14.2233128 C11.8795536,14.2233128 11.6666667,14.4364425 11.6666667,14.6993349 L11.6666667,18.5354268 C11.6666667,18.7983192 11.8797964,19.0112061 12.142446,19.0112061 L15.1847633,19.0112061 L15.1847633,28.6908874 C15.1847633,28.9537797 15.3976502,29.1666667 15.6605426,29.1666667 L19.6299013,29.1666667 C19.8927936,29.1666667 20.1056806,28.953537 20.1056806,28.6908874 L20.1056806,19.0112061 L23.662859,19.0112061 C23.9257514,19.0112061 24.1386383,18.7983192 24.1386383,18.5354268 L24.1400948,14.6993349 C24.1400948,14.5731077 24.0898467,14.4522209 24.0007594,14.3628909 C23.9116722,14.273561 23.7902999,14.2233128 23.6640728,14.2233128 L20.1056806,14.2233128 L20.1056806,11.9788968 C20.1056806,10.9001401 20.362747,10.3525084 21.7679952,10.3525084 L23.8063211,10.3517802 C24.0689707,10.3517802 24.2818576,10.1386505 24.2818576,9.87600089 L24.2818576,6.31396752 C24.2818576,6.05156067 22.7882375,5.83867371 22.5258306,5.83818822 Z" id="Shape"></path>
                </g>
            </g>
        </g>
    </g>
</svg>