<div class="page-breadcrumb">
  <div class="page-breadcrumb-container">
    <ol itemscope itemtype="http://schema.org/BreadcrumbList">
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
        <a itemprop="item" href="/">
          <span itemprop="name">Home</span>
        </a>
          &gt;&nbsp;
        <meta itemprop="position" content="1" />
      </li>
      <li itemprop="itemListElement" itemscope
          itemtype="http://schema.org/ListItem">
          <span itemprop="name">{{page.title}}</span>
        <meta itemprop="position" content="2" />
      </li>
    </ol>
  </div>
</div>