<upsell-product data-upsell-sku="{{upsell_sku}}">
  <div class="upsell-product__heading">Complete the look</div>
</upsell-product>
<script>
  
  class UpsellSku extends HTMLElement{
    constructor(){
      super();
      this.upsellSku = this.getAttribute("data-upsell-sku");
      this.upsellSearchURL = `/search?type=product&q=variants.sku:${this.upsellSku}*&view=sku`;
    }

    connectedCallback(){
      this.getUpsellItem(this.upsellSearchURL);
    }

    getUpsellItem(upsellSearchURL){
      fetch(this.upsellSearchURL)
        .then((response)=>{
          return response.text();
        })
        .then((html)=>{
          let parser = new DOMParser();
          let upsellContent = parser.parseFromString(html, 'text/html');
          this.appendChild(upsellContent.querySelector('.upsell--items__wrapper'));
        })
    }
  }

  customElements.define('upsell-product', UpsellSku);
</script>
<style>
  upsell-product{
    display: block;
    padding-top: 25px; 
    border-top: 1px solid #e5e5e5;
    margin-top: 10px;
  }
  .upsell-product__heading{
    font-size: 1.8rem; 
    margin-bottom: 10px; 
    padding-bottom: 10px;
  }
  upsell-product .product-form__error-message-wrapper{
    margin-top: 10px;
  }
  upsell-product button[type="submit"]{
    margin-top: 10px;
  }
  .product-upsell-item{
    margin-bottom: 10px;
  }

  .product-upsell-item .product__title{
    margin-bottom: 5px;
  }

  .product-upsell-item .price-item{
    display: block; 
    margin-bottom: 10px;
  }
</style>