{%- unless product.tags contains 'hide-matching-colours' -%}
    {%- if product.title contains '-' -%}
        <div class="page-width">
            {% assign producttitleall = product.title | split: '-' %}
            {% assign producttitleend = producttitleall[1] | lstrip | replace: ' ', '-' | downcase %}<br />
            {% assign searchhandle = product.handle | replace: producttitleend, '' %}
            <product-matching-colours data-search-handle = "{{searchhandle}}" data-product-handle = "{{product.handle}}"> 
                <div class="matchedproducts" id="matchedproducts_header"><h2 class="text-center">Other Available Colours</h2>
                <div id="matchedproducts" class="matching-colors-slider"></div>      
            </product-matching-colours>
        </div>
    {%- endif -%}
{%- endunless -%}
{% schema %}
{
    "name":"Product Matching Colours", 
    "templates":["product"], 
    "presets":[
        {
            "name":"Product Matching Colours",
            "category":"Product Items"
        }
    ]
}
{% endschema %}