/*================ Mega Nav ================*/
mega-nav {
  position: absolute;
  width: 100%;
  z-index: 9;
}

.meganav {
  display: none;
  background-color: #fff;
  width: 100%;
  -ms-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.meganav.active {
  display: block;
}

.meganav .grid {
  margin-bottom: 0px;
}

.meganav a {
  text-decoration: none;
}

.meganav .meganav__col {
  vertical-align: top;
}

.meganav .meganav__col--list {
  padding: 30px 0;
  font-size: 1.49rem;
  line-height: 2.1;
}

.meganav .meganav__col--list a {
  color: #444444;
}

.meganav .meganav__col--list:first-child {
  padding-left: 30px;
}

.meganav__col--list.meganav__col--list-last {
  padding-right: 30px;
}

.meganav .meganav__col--list.mega-nav--two-image {
  flex: 1 1 54%;
  max-width: 54%;
}

@media only screen and (max-width: 1099px) {
  .meganav .meganav__col--list.mega-nav--two-image {
    flex: 1 1 100%;
    max-width: 100%;
  }
}

.meganav .meganav__col--list.mega-nav--three-image {
  flex: 1 1 30%;
  max-width: 30%;
}

@media only screen and (max-width: 1099px) {
  .meganav .meganav__col--list.mega-nav--three-image {
    flex: 1 1 50%;
    max-width: 50%;
  }
}

.meganav .meganav__col--list.mega-nav--four-image {
  flex: 1 1 20%;
  max-width: 20%;
}

@media only screen and (max-width: 1099px) {
  .meganav .meganav__col--list.mega-nav--four-image {
    flex: 1 1 calc(100% / 3);
    max-width: calc(100% / 3);
  }
}

.meganav .meganav__col--image {
  background: #fafafa;
  position: relative;
}

.meganav .meganav__col--image.mega-nav--two-image {
  flex: 1 1 46%;
  max-width: 46%;
}

.meganav .meganav__col--image.mega-nav--three-image {
  flex: 1 1 40%;
  max-width: 40%;
}

.meganav .meganav__col--image.mega-nav--four-image {
  flex: 1 1 40%;
  max-width: 40%;
}

@media only screen and (max-width: 1099px) {
  .meganav .meganav__col--image {
    display: none;
  }
}

.meganav .meganav__col--image+.meganav__col--list {
  padding-left: 30px;
}

.meganav .meganav__col--image img {
  float: right;
  width: 100%;
}

.meganav.meganav--show {
  display: block;
}

.meganav .meganav__title--wrapper {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 14px;
  padding-bottom: 10px;
}

.meganav .meganav__title--wrapper .meganav__title {
  white-space: nowrap;
}

.meganav__col__content {
  font-size: 1.7rem;
}


#MobileNav {
  display: none;
}

.meganav ul {
  padding-left: 0;
}

.meganav li {
  list-style: none;
}

.meganav__col--image {
  position: relative;
}

.meganav__col--image img {
  cursor: pointer;
}

/* Tooltip container */
.meganav__hotspot-tooltip {
  position: absolute !important;
  display: block;
  width: 26px !important;
  height: 26px;
  padding: 4px !important;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  background: #fff;
  font-weight: bold;
  box-shadow: 0 0 0 rgba(68, 68, 68, 0.7);
  animation: pulse 2s infinite;
  z-index: 3;
  cursor: pointer;
  line-height: 1.2;
}

.meganav__hotspot-tooltip svg {
  width: 18px;
  height: 18px;
  fill: #aea37f;
  transition: 0.3s;
  transform: rotate(0deg);
}

@media only screen and (max-width: 1099px) {
  .meganav__hotspot-tooltip {
    width: 36px !important;
    height: 36px;
    opacity: 0.8;
  }

  .meganav__hotspot-tooltip svg {
    width: 28px;
    height: 28px;
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0.7);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  70% {
    -webkit-box-shadow: 0 0 0 10px rgba(68, 68, 68, 0);
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0.7);
    box-shadow: 0 0 0 0 rgba(68, 68, 68, 0.7);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }

  70% {
    -moz-box-shadow: 0 0 0 10px rgba(68, 68, 68, 0);
    box-shadow: 0 0 0 10px rgba(68, 68, 68, 0);
    -webkit-transform: scale3d(1.05,1.05,1.05);
    transform: scale3d(1.05,1.05,1.05);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
    box-shadow: 0 0 0 0 rgba(68, 68, 68, 0);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}

.meganav__hotspot-tooltip:hover {
  animation: none;
}

.meganav__hotspot-tooltip:hover svg:first-child {
  transition: 0.3s;
  transform: rotate(45deg);
}

/* Tooltip text */
.meganav__hotspot-tooltip .meganav__hotspot-tooltiptext {
  visibility: hidden;
  width: 170px;
  height: 50px;
  background-color: #fff;
  color: #444;
  text-align: left;
  padding: 5px;
  border-radius: 0px;
  font-weight: normal;
  font-size: 9.8px;
  position: absolute;
  left: -70px;
  top: -56px;
  z-index: 100;
  transition: 0.3s;
  padding-right: 20px;
  transition-property: all;
  opacity: 0;
  cursor: pointer;
  opacity: 1;
}

.meganav__hotspot-tooltip .meganav__hotspot-tooltiptext strong {
  width: 100%;
  display: inline-block;
  font-size: 1.0rem;
  font-weight: 600;
  margin-top: 3px;
  color: #aea37f;
}

.meganav__hotspot-tooltip .meganav__hotspot-tooltiptext svg {
  position: absolute;
  top: 17px;
  right: 3px;
  height: 18px;
  width: 18px;
  fill: #aea37f;
}

/* Show the tooltip text on mouseover */
.meganav__hotspot-tooltip:hover,
.meganav__hotspot-tooltip:active {
  opacity: 1;
}

.meganav__hotspot-tooltip:hover .meganav__hotspot-tooltiptext,
.meganav__hotspot-tooltip:active .meganav__hotspot-tooltiptext {
  visibility: visible;
  transition: 0.3s;
  opacity: 1;
}

.hs_bottomleft {
  bottom: 20%;
  left: 20%;
}

.hs_bottommiddle {
  bottom: 20%;
  left: 50%;
}

.hs_bottomright {
  bottom: 20%;
  left: 72%;
}

.hs_bottomleft {
  bottom: 20%;
  left: 20%;
}

.meganav--tablet-close {
  display: none;
}

@media only screen and (max-width: 1099px) {
  .meganav .meganav__col--image {
    display: none;
  }

  .meganav--tablet-close {
    cursor: pointer;
    display: block;
    width: 100px;
    background-color: #edebeb;
    color: #000;
    font-weight: 600;
    line-height: 40px;
    height: 40px;
    position: absolute;
    right: 15px;
    bottom: 0px;
    text-align: center;
  }
}